	<h1 align="center">Movies</h1>
<div class="container" style="padding:10px 10px ;">

	<% @movies.each do |m| %>
		<%= render(:partial => "movie_ad", :locals => { :m => m}) %>
	<% end %>

</div>

<%=link_to "Create", new_movie_url,class: "btn btn-info btn-sm" %><br>