<h1>Tickets#index</h1>
<p>Find me in app/views/tickets/index.html.erb</p>


<h2> Tickets</h2>



<% @tickets.each do |tic| %>

<p>
	<strong> Price:</strong>
	<%= tic.price %>

	<strong> Status:</strong>
	<%= tic.status %>

	<strong> Status:</strong>
	<%= tic.status %>

	<%# <strong> Status:</strong>
	<%= tic.session_id.movie_id.title %> 
</p>

<% end %>